*~
\#*\#
.nextflow*
work/
*.sif
*.png
data/
test_run_*
test.timeline*
test.dag*
git.hash
*.csv
TEST_CMD.sh
Code_style.md
TODO.md
*_test.config
logs/
bugs/
.venv
.env
venv
env
configs/nextflow.hopper_test.config
*log