/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*ALIGN_SENTIEON:.*' {
        container = "${params.container_dir}/sentieon_202112.sif"
    }

    withName: '.*ALIGN_SENTIEON:BWA_UMI' {
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/bam",
            mode: 'copy',
            overwrite: true,
            pattern: "*bwa.umi.sort.bam*"
        ]

        ext.when    = params.umi
        ext.args    = { "-d 3M2S+T,3M2S+T" }
        ext.args2   = { "-R \"@RG\\tID:${meta.id}\\tSM:${meta.id}\\tLB:${meta.id}\\tPL:illumina\" -p -C ${params.genome_file}" }
        ext.args3   = { "--copy_tags XR,RX,MI,XZ" }
        ext.args4   = { "-R \"@RG\\tID:${meta.id}\\tSM:${meta.id}\\tLB:${meta.id}\\tPL:illumina\" -p -C ${params.genome_file}" }
        ext.args5   = { "--sam2bam --umi_post_process" }
    }

    withName: '.*ALIGN_SENTIEON:MARKDUP' {
        ext.args    = { "--fun score_info score.gz" }
        ext.args2   = { "--score_info score.gz" }
    }

    withName: '.*ALIGN_SENTIEON:BQSR_UMI' {
        ext.when    = params.umi
        ext.args    = { "-r ${params.genome_file}" }    // reference and common arguments for driver
        ext.args2    = { "" }                           // algo specific arguments
        ext.prefix  = { "${meta.id}" }
    }

}