process {

    withName: '.*ALIGN_SENTIEON:.*' {
        container = "/fs1/resources/containers/sentieon_202112.sif"
    }
    withName: '.*ALIGN_SENTIEON:BWA_UMI' {
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/bam",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*bwa.umi.sort.bam*"
        ]
    }
    withName: '.*ALIGN_SENTIEON:SENTIEON_QC' {
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/QC",
            mode: 'copy',
            overwrite: 'true',
            pattern: '*.QC*'
        ]
    }

}