process {
    withName: '.*SNV_ANNOTATE:PON_FILTER.*' {
        container = "/fs1/resources/containers/SomaticPanelPipeline_2021-06-24.sif"
    }
    withName: '.*SNV_ANNOTATE:FFPE_PON_FILTER.*' {
        container = "/fs1/resources/containers/SomaticPanelPipeline_2021-06-24.sif"
    }
    withName: '.*SNV_ANNOTATE:MARK_GERMLINES.*' {
        container = "/fs1/resources/containers/SomaticPanelPipeline_2021-06-24.sif"
    }
    withName: '.*SNV_ANNOTATE:CONTAMINATION.*' {
        container = "/fs1/resources/containers/SomaticPanelPipeline_2021-06-24.sif"
    }
    withName: '.*SNV_ANNOTATE:ENIGMA.*' {
        container = "/fs1/resources/containers/SomaticPanelPipeline_2021-06-24.sif"
    }
    withName: '.*SNV_ANNOTATE:FILTER_FOR_CNV' {
        container = "/fs1/resources/containers/SomaticPanelPipeline_2021-06-24.sif"
        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf", 
            mode: 'copy', 
            overwrite: true
        ]
    }
    withName: '.*SNV_ANNOTATE:ANNOTATE_VEP' {
        container = params.vepcon
        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf", 
            mode: 'copy', 
            overwrite: true
        ]
    }    
  
    
    
    
   
}