process {
    withName: '.*SNV_CALLING:FREEBAYES.*' {
        container = "/fs1/resources/containers/SomaticPanelPipeline_2021-06-24.sif"
    }
    withName: '.*SNV_CALLING:VARDICT.*' {
        container = "/fs1/resources/containers/SomaticPanelPipeline_2021-06-24.sif"
    }
    withName: '.*SNV_CALLING:TNSCOPE.*' {
        container = "/fs1/resources/containers/SomaticPanelPipeline_2021-06-24.sif"
    }
    withName: '.*SNV_CALLING:FREEBAYES.*' {
        container = "/fs1/resources/containers/SomaticPanelPipeline_2021-06-24.sif"
    }
    withName: '.*SNV_CALLING:MELT.*' {
        container = '/fs1/resources/containers/melt_2.2.2.sif'
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true
        ]
    }


   
}