/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*CNV_CALLING:MANTA' {
        container = "${params.container_dir}/manta:1.6.0.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf/",
            mode: 'copy',
            overwrite: true,
            pattern: '*.vcf'
        ]

        ext.when    = params.manta
        ext.args    = { "--reference ${params.genome_file} --exome --generateEvidenceBam" }
        ext.args2   = { "-m local -j ${task.cpus}" }
    }


    withName: '.*CNV_CALLING:JOIN_TUMOR' {
        container = "${params.container_dir}/svdb-2.2.0.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf/merged/",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        def conditionsMet = [params.manta, params.cnvkit, params.gatk_cnv].count { it }
        ext.when    = { conditionsMet >= 2 }
        ext.args    = { "--bnd_distance 2500 --no_intra --pass_only --overlap 0.7" }
    }

    withName: '.*CNV_CALLING:JOIN_NORMAL' {
        container = "${params.container_dir}/svdb-2.2.0.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf/merged/",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.when    = { params.manta && params.gatk_cnv }
        ext.args    = { "--bnd_distance 2500 --no_intra --pass_only --overlap 0.7 " }
    }

    withName: '.*CNV_CALLING:FILTER_MANTA_TUMOR' {
        container = "${params.container_dir}/python_utils-3.9.1.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.when    = params.manta
        ext.args    = { "--id ${meta.id} --out-prefix ${meta.id} --af 0.05" }
    }


    withName: '.*CNV_CALLING:FILTER_MANTA_NORMAL' {
        container = "${params.container_dir}/python_utils-3.9.1.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.when    = params.manta
        ext.args    = { "--id ${meta.id} --out-prefix ${meta.id} --af 0.05" }
    }
}
