/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    CNVkit CNV calling subworkflow module options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: '.*CNV_CALLING:CNVKIT:.*' {
        container = "${params.container_dir}/cnvkit-0.9.9.sif"
        ext.when = params.cnvkit
    }

    withName: '.*CNV_CALLING:CNVKIT:CNVKIT_FULL' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/cnvkit",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*CNV_CALLING:CNVKIT:CNVKIT_BACKBONE' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/cnvkit",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*CNV_CALLING:CNVKIT:CNVKIT_EXONS' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/cnvkit",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*CNV_CALLING:CNVKIT:CNVKIT_GENS' {
        container = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"
    }

    withName: '.*CNV_CALLING:CNVKIT:CNVKIT_BAF_BGZIPTABIX' {
        container = "${params.container_dir}/gzip-1.14_tabix-1.11.sif"
        ext.args2 = {"-p bed"}

        publishDir = [
            path: "${params.outdir}/${params.subdir}/gens",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename ->
                def basename = filename.tokenize('/').last()
                def expected_parts = params.cnvkit_split ? ['.exons.', '.backbone.'] : ['.full.']
                if (expected_parts.any { basename.contains(it) } && basename.endsWith('.bed.gz')) {
                    return basename
                }
                return null
            }
        ]
    }

    withName: '.*CNV_CALLING:CNVKIT:CNVKIT_COV_BGZIPTABIX' {
        container = "${params.container_dir}/gzip-1.14_tabix-1.11.sif"
        ext.args2 = {"-p bed"}

        publishDir = [
            path: "${params.outdir}/${params.subdir}/gens",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename ->
                def basename = filename.tokenize('/').last()
                def expected_parts = params.cnvkit_split ? ['.exons.', '.backbone.'] : ['.full.']
                if (expected_parts.any { basename.contains(it) } && basename.endsWith('.bed.gz')) {
                    return basename
                }
                return null
            }
        ]
    }

    withName: '.*CNV_CALLING:CNVKIT:CNVKIT_PLOT' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/plots",
            mode: 'copy',
            overwrite: true,
            pattern: '*.png',
        ]
    }

    withName: '.*CNV_CALLING:CNVKIT:CNVKIT_CALL' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/cnvkit/segments/",
            mode: 'copy',
            overwrite: true,
            pattern: '*call*.cns',
        ]
    }

    withName: '.*CNV_CALLING:CNVKIT:CNVKIT_CALL_TC' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/cnvkit/segments/",
            mode: 'copy',
            overwrite: true,
            pattern: '*call*.cns',
        ]
    }

    withName: '.*CNV_CALLING:CNVKIT:CNVKIT_EXPORT_VCF$' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf/",
            mode: 'copy',
            overwrite: true,
            pattern: '*.vcf',
        ]
    }

    withName: '.*CNV_CALLING:CNVKIT:CNVKIT_EXPORT_VCF_TC' {

        ext.suffix = { "${part}.cnvkit.purity.vcf" }

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf/",
            mode: 'copy',
            overwrite: true,
            pattern: '*.cnvkit.purity.vcf',
        ]
    }

    withName: '.*CNV_CALLING:CNVKIT:MERGE_GENS' {
        container = "${params.container_dir}/bedtools-2.31.1.sif"

        ext.args = params.cnvkit_split ? '--split' : ''

        publishDir = [
            [
                path: "${params.outdir}/${params.subdir}/gens",
                mode: 'copy',
                overwrite: true,
                pattern: '*.bed.gz*'
            ],
            [
                path: "${params.outdir}/cron/gens",
                mode: 'copy',
                overwrite: true,
                pattern: '*.gens',
            ],
            [
                path: "${params.outdir}/cron/gens",
                mode: 'copy',
                overwrite: true,
                pattern: '*.gens_v4_somatic',
            ],
        ]
    }
}
