/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    GATK CNV calling subworkflow module options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: '.*CNV_CALLING:GATK:.*' {
        container = "${params.container_dir}/gatk_4.1.9.0.sif"
        ext.when  = params.gatk_cnv
    }

    withName: '.*CNV_CALLING:GATK:GATKCOV_BAF' {
        ext.args  = { "-L ${params.GATK_GNOMAD} -R ${params.genome_file}" }
    }

    withName: '.*CNV_CALLING:GATK:GATK_COLLECT_READ_COUNTS' {

        ext.args   = { "-L ${params.gatk_intervals_full} --interval-merging-rule OVERLAPPING_ONLY" }
        ext.prefix = { "${meta.id}" }
    }

    withName: '.*CNV_CALLING:GATK:GATK_DENOISE_READ_COUNTS' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/gatkcov",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args   = { "--count-panel-of-normals ${params.GATK_pon}" }
        ext.prefix = { "${meta.id}" }
    }

    withName: '.*CNV_CALLING:GATK:GATK_PLOT_DENOISED_COPY_RATIOS' {

        ext.args   = { "--sequence-dictionary ${params.GENOMEDICT} --minimum-contig-length 46709983" }
        ext.prefix = { "${meta.id}" }
    }

    withName: '.*CNV_CALLING:GATK:GATK_MODEL_SEGMENTS' {

        ext.args = { "--minimum-total-allele-count-normal 20" }
    }

    withName: '.*CNV_CALLING:GATK:GATK_CALL_COPY_RATIO_SEGMENTS' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/gatkcov",
            mode: 'copy',
            overwrite: true,
            pattern: '*.called.seg'
        ]

        ext.args = { "" }
    }

    withName: '.*CNV_CALLING:GATK:GATK_PLOT_MODELED_SEGMENTS' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/plots",
            mode: 'copy',
            overwrite: true,
            pattern: '*.png'
        ]

        ext.args   = { "--sequence-dictionary ${params.GENOMEDICT} --minimum-contig-length 46709983" }
        ext.prefix = { "${meta.id}" }
    }

    withName: '.*CNV_CALLING:GATK:GATK2VCF' {
        container = "${params.container_dir}/python_utils-3.9.1.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf/",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args   = { meta.purity ? "-p ${meta.purity}" : "" }
        ext.prefix = { "${meta.id}" }
    }

    withName: '.*CNV_CALLING:GATK:GATK_COUNT_GERMLINE' {
        ext.args   = { "-L ${params.gatk_intervals} -R ${params.genome_file} -imr OVERLAPPING_ONLY --format TSV" }
        ext.prefix = { "${meta.id}" }
    }

    withName: '.*CNV_CALLING:GATK:GATK_CALL_PLOIDY' {
        ext.args = { "--model ${params.ploidymodel}" }
    }

    withName: '.*CNV_CALLING:GATK:GATK_CALL_GERMLINE_CNV' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf/",
            mode: 'copy',
            overwrite: true,
            pattern: '*.vcf'
        ]

        ext.args = { "--run-mode CASE " }
    }

    withName: '.*CNV_CALLING:GATK:FILTER_GATK' {
        container = "${params.container_dir}/python_utils-3.9.1.sif"

        ext.prefix = { "${meta.id}" }
    }

    withName: '.*CNV_CALLING:GATK:MERGE_GATK' {
        container = "${params.container_dir}/python_utils-3.9.1.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf/",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.prefix = { "${meta.id}" }
    }

    withName: '.*CNV_CALLING:GATK:MERGE_GATK_TUMOR' {
        container = "${params.container_dir}/python_utils-3.9.1.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf/",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.prefix = { "${meta.id}" }
    }

    withName: '.*CNV_CALLING:GATK:POSTPROCESS' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/svvcf/",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.prefix = { "${meta.id}" }
        ext.args   = { "--allosomal-contig X --allosomal-contig Y --sample-index 0 --sequence-dictionary ${params.GENOMEDICT}" }
    }
}
