/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/


process {

    withName: '.*PHARMACOGENOMICS' {
        publishDir = [ 
            path: params.pgx_csv_dir,
            mode: 'copy',
            overwrite: true,
            pattern: "*.pgx.*"
        ]

        ext.when    = params.pgx_csv
        ext.args    = { "${params.outdir}/${params.subdir}/bam" }                                   //  Outdir of the bam files
        ext.args2   = { "${params.reference_profile_name},${params.panel_profile_name},panel" }     // Reference profile name, panel profile name, and panel type
        ext.args3   = { "${params.pgx_csv_dir}" }                                                   //  Outdir of the pgx csv files
        ext.suffix  =  { ".panel" }
    }

}