/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*SNV_CALLING:FREEBAYES' {
        container = "${params.container_dir}/freebayes-1.3.10_vcflib-1.0.15_bcftools-1.23.1.sif"

        ext.when    = params.freebayes
        ext.args    = { "-f ${params.genome_file} --pooled-continuous --pooled-discrete --min-repeat-entropy 1" }
    }

    withName: '.*SNV_CALLING:FREEBAYES_FILTER_LOWCOV' {
        container = "${params.container_dir}/freebayes-1.3.10_vcflib-1.0.15_bcftools-1.23.1.sif"

        ext.when    = params.freebayes
        ext.args    = params.assay.equals("solid") ? { "-F LowCov -f \"DP > 80\" -f \"QA > 1500\"" } : { "-F LowCov -f \"DP > 500\" -f \"QA > 1500\"" }
        ext.prefix  = { vcf.name.replaceFirst(/\.vcf\.raw$/, '') }
        ext.suffix  = { "lowcov.vcf" }
    }

    withName: '.*SNV_CALLING:FREEBAYES_FILTER_LOWFRQ' {
        container = "${params.container_dir}/freebayes-1.3.10_vcflib-1.0.15_bcftools-1.23.1.sif"

        ext.when    = params.freebayes
        ext.args    = { "-F LowFrq -o -f \"AB > ${params.fb_postcall_AB}\" -f \"AB = 0\"" }
        ext.prefix  = { vcf.name.replaceFirst(/\.lowcov\.vcf$/, '') }
        ext.suffix  = { "lowfrq.vcf" }
    }

    withName: '.*SNV_CALLING:FREEBAYES_VCFGLXGT' {
        container = "${params.container_dir}/freebayes-1.3.10_vcflib-1.0.15_bcftools-1.23.1.sif"

        ext.when    = params.freebayes
        ext.prefix  = { vcf.name.replaceFirst(/\.lowfrq\.vcf$/, '') }
        ext.suffix  = { "filt1.vcf" }
    }

    withName: '.*SNV_CALLING:FILTER_FREEBAYES' {
        container = "${params.container_dir}/python_utils-3.9.1.sif"

        ext.when    = params.freebayes
    }

    withName: '.*SNV_CALLING:FREEBAYES_REMOVE_AD' {
        container = "${params.container_dir}/bcftools-1.23.1.sif"

        ext.when    = params.freebayes
        ext.args    = { "-x FORMAT/AD" }
        ext.prefix  = { "freebayes_${vcf.name.replaceFirst(/^filtered_freebayes_/, '').replaceFirst(/\.vcf$/, '')}" }
        ext.suffix  = { "vcf" }
    }

    withName: '.*SNV_CALLING:VARDICT' {
        container = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"

        ext.when    = params.vardict
        ext.args    = { "-G ${params.genome_file} -c 1 -S 2 -E 3 -g 4" }
    }

    withName: '.*SNV_CALLING:FILTER_VARDICT' {
        container = "${params.container_dir}/python_utils-3.9.1.sif"

        ext.when    = params.vardict
    }

    withName: '.*SNV_CALLING:TNSCOPE' {
        container = "${params.container_dir}/sentieon_202010.4.sif"

        ext.when    = params.tnscope
        ext.args    = { "-r ${params.genome_file}" }        // for reference
        ext.args2   = [                                     // For other paramters
            "--clip_by_minbq 1",
            "--max_error_per_read 3",
            "--disable_detector sv",
            "--min_init_tumor_lod 2.0",
            "--min_base_qual 10",
            "--min_base_qual_asm 10",
        ].join(' ')
    }

    withName: '.*SNV_CALLING:FILTER_TNSCOPE' {
        container = "${params.container_dir}/python_utils-3.9.1.sif"
        ext.when    = params.tnscope

    }

    withName: '.*SNV_CALLING:DNASCOPE' {
        container = "${params.container_dir}/sentieon_20250520.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args  = { "-r ${params.genome_file}" }
    }

    withName: '.*SNV_CALLING:VCF_CONCAT' {
        container = "${params.container_dir}/vcftools-0.1.16_vt-0.5.sif"
    }

    withName: '.*SNV_CALLING:VCF_CONCATENATED_SORT' {
        container = "${params.container_dir}/vcftools-0.1.16_vt-0.5.sif"
    }

    withName: '.*SNV_CALLING:TABIX_BGZIPTABIX' {
        ext.args = ''
        ext.args2 = '-p vcf -f'
    }

    withName: '.*SNV_CALLING:BCFTOOLS_NORM' {
        container = "${params.container_dir}/bcftools-1.23.1.sif"
        ext.args = { " -m-both -c w -Oz --write-index=tbi -f ${params.genome_file} " }
        ext.prefix  = { "${group}.first" }
    }

    withName: '.*SNV_CALLING:BCFTOOLS_NORM_EXACT' {
        container = "${params.container_dir}/bcftools-1.23.1.sif"
        ext.args = { " -d exact -Oz --write-index=tbi" }
        ext.prefix  = { "${group}" }

        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename ->
                if (filename == 'versions.yml') {
                    return null
                } else if (filename.endsWith('.vcf.gz')) {
                    return filename
                }
                return null
            }
        ]
    }

    // withName: '.*SNV_CALLING:CONCATENATE_VCFS' {
    //     container = "${params.container_dir}/vcftools-0.1.16_vt-0.5.sif"
    //     publishDir = [
    //         path: "${params.outdir}/${params.subdir}/vcf",
    //         mode: 'copy',
    //         overwrite: true,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]

    //     ext.args = { "-r ${params.genome_file}" }
    // }

    // withName: '.*SNV_CALLING:CONCATENATE_VCFS_BCFTOOLS' {
    //     container = "${params.container_dir}/bcftools-1.23.1_vt-0.5_gzip-1.12_tabix-1.11_vcftools-0.1.16.sif"
    // }

    withName: '.*SNV_CALLING:PINDEL_CONFIG' {
        container = "${params.container_dir}/coreutils-9.5.sif"
        ext.when    = params.pindel
        ext.prefix  = { "${group}" }
    }

    withName: '.*SNV_CALLING:PINDEL_CALL' {
        container = "${params.container_dir}/pindel-0.2.5b9.sif"

        ext.when    = params.pindel
        ext.args    = { "-f ${params.genome_file} -w 0.1 -x 2 -j ${params.pindel_regions_bed}" }
    }

    withName: '.*SNV_CALLING:PINDEL_TO_VCF' {
        container = "${params.container_dir}/pindel-0.2.5b9.sif"

        ext.when    = params.pindel
        ext.args    = { "-r ${params.genome_file} -R hg38 -d 2015-01-01 -is 10 -e 30 -he 0.01" }
        ext.prefix  = { "${group}" }
    }

    withName: '.*SNV_CALLING:FILTER_PINDEL' {
        container = "${params.container_dir}/python_utils-3.9.1.sif"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.when    = params.pindel
        ext.prefix  = { "${group}" }
    }

    withName: '.*SNV_CALLING:BT_AGG' {
        container = "${params.container_dir}/python_utils-3.9.1.sif"
    }

    withName: '.*SNV_CALLING:VCF_AGGREGATE_SORT' {
        container = "${params.container_dir}/vcftools-0.1.17.sif"
        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf", 
            mode: 'copy', 
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${group}.agg" }
    }

    withName: '.*SNV_CALLING:MELT' {
        container = "${params.container_dir}/melt_2.2.2.sif"
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.when = params.melt
        ext.args = { "-r 150 -h ${params.genome_file} -n /opt/MELTv2.2.2/add_bed_files/Hg38/Hg38.genes.bed -z 500000 -d 50 -t /opt/mei_list" }
    }

    withName: '.*SNV_CALLING:SVDB_MERGE_PANEL' {
        container   = "${params.container_dir}/svdb-2.2.0.sif"
    }

    withName: '.*SNV_CALLING:SVDB_MERGE_SINGLES' {
        container   = "${params.container_dir}/svdb-2.2.0.sif"
        ext.args    = { "--no_intra --pass_only --bnd_distance 10 --overlap 1.0" }
    }

    withName: '.*SNV_CALLING:BEDTOOLS_INTERSECT' {
        container   = "${params.container_dir}/bedtools-2.31.1.sif"
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args    = { "-header" }
        ext.prefix  = { "${meta.id}_${vc}_intersected" }
        ext.suffix  = { "vcf" }
    }
}
