/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*BED_INTERVALS:.*' {
        container = "${params.container_dir}/gatk_4.1.9.0.sif"
    }

    withName: '.*BED_INTERVALS:PREPROCESSINTERVALS' {
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/references/gatk",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args = { "-R ${params.genome_file} --padding ${params.padding} -imr OVERLAPPING_ONLY -XL ${params.blacklist}" }

    }

    withName: '.*BED_INTERVALS:COUNT_READS' {
        ext.args    = { "-R ${params.genome_file} -imr OVERLAPPING_ONLY --format TSV" }
    }

    withName: '.*BED_INTERVALS:ANNOTATE_GC' {
        publishDir  = [ 
            path: "${params.outdir}/${params.subdir}/references/gatk", 
            mode: 'copy', 
            overwrite: true, 
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args    = { "-R ${params.genome_file} -imr OVERLAPPING_ONLY" }
    }

    withName: '.*BED_INTERVALS:CORRECT_GC' {
        ext.args    = { "-imr OVERLAPPING_ONLY" }
    }

    withName: '.*BED_INTERVALS:REMOVE_ALT_CONTIGS' {
        publishDir  = [ 
            path: "${params.outdir}/${params.subdir}/references/gatk", 
            mode: 'copy', 
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*BED_INTERVALS:SCATTER_INTERVALS' {
        publishDir  = [ 
            path: "${params.outdir}/${params.subdir}/references/gatk", 
            mode: 'copy', 
            overwrite: true, 
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args    = { "--SUBDIVISION_MODE INTERVAL_COUNT" }
    }
}