process {

    // GATK REFERENCES //
    withLabel: gatk_small {
        container   = "${params.container_dir}/gatk_4.1.9.0.sif"
        cpus        = 2
        memory      = '1GB'
        publishDir  = [ 
                        path: "${params.outdir}/${params.subdir}/references/gatk", 
                        mode: 'copy', 
                        overwrite: 'true' 
                    ]
    }

    withName: COUNT_READS {
        container   = "${params.container_dir}/gatk_4.1.9.0.sif"
        cpus        = 2
        memory      = '5GB'
    }

    withName: CORRECT_GC {
        container   = "${params.container_dir}/gatk_4.1.9.0.sif"
        cpus        = 2
        memory      = '150GB'
    }

    withName: COHORT_PLOIDY {
        container   = "${params.container_dir}/gatk_4.1.9.0.sif"
        cpus        = 2
        memory      = '20GB'
        publishDir  = [ 
                        path: "${params.outdir}/${params.subdir}/references/gatk/", 
                        mode: 'copy' , 
                        overwrite: 'true', 
                        pattern: "*_ploidy-model" 
                    ]
    }

    withName: COHORT_CALL {
        container   = "${params.container_dir}/gatk_4.1.9.0.sif"
        cpus        = 64
        memory      = '180GB'
        publishDir  = [ 
                        path: "${params.outdir}/${params.subdir}/references/gatk/cohort_model", 
                        mode: 'copy' , 
                        overwrite: 'true' 
                    ]
    }

    withName: COHORT_CALL_PANEL {
        container   = "${params.container_dir}/gatk_4.1.9.0.sif"
        cpus        = 64
        memory      = '180GB'
        publishDir  = [ 
                        path: "${params.outdir}/${params.subdir}/references/gatk/cohort_model", 
                        mode: 'copy' , 
                        overwrite: 'true' 
                    ]
    }

    // CNVKIT REFERENCES //
    withName: CNVKITREF {
        container   = "${params.container_dir}/cnvkit099.sif"
        cpus        = 54
        memory      = '150GB'
        publishDir  = [ 
                        path: "${params.outdir}/${params.subdir}/references", 
                        mode: 'copy' , 
                        overwrite: 'true' 
                    ]
    }
}