params {
    tnscope = true
    vardict = false
    freebayes = false
}

profiles {
    	validation {
            // SNV-CALLING //
            params.melt                                = false
            params.freebayes                           = false
            params.vardict                             = false
            params.tnscope                             = true
            params.assay_config                        = '/fs1/viktor/pipelines_src/SomaticPanelPipeline/resources/gmshem_coyote.json'
        }
}
